<style>
 {
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #313131;
	margin: auto;
	max-width: 1200px;
	line-height: 160%;
	background-color: #FAF8F7;
}
	.menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
		margin-bottom: 90px;
	}
	.menu-rede{
		margin-left: 16px;
	}
	.projetos{
		display: flex;
		margin-bottom: 90px;
		justify-content: space-between;
	}
	.proj{		
		width: 30%;
	}
	.proj-img{
		width: 100%;
		height: 30vh;		
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		filter:gray;
		-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      	-webkit-transition: all .8s ease-in-out;

	}
	.proj-img:hover{
		filter:none;
		-webkit-filter: none;
		background-repeat: no-repeat;
		background-position: center;
	}
	.proj1{
		background-image: url(img/parqueaquatico1.png);
	}

	.proj2{
		background-image: url(img/ruperspectiva1.png);
	}
	.proj3{
		background-image: url(img/todechico01.png);
	}
	.proj4{
		background-image: url(img/islacapa.png);
	}
	.proj5{
		background-image: url(img/modeloscapa1.png);
	}
	.proj6{
		background-image: url(img/dipuacapa.png);
	}
	
	.h3{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
	}
	p{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 160%;
	}
	.proj-tag{
		padding: 4px 8px;
		background: #D2F1EA;
		border-radius: 23232px;
	}
	.arq{
		background: #D2F1EA;
		width: 88px;
	}
	.cen{
		background:#F1E7D2; 
		width:85px;
	}
	h1{
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
	}
	.sobre{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 120px;
	}
	.sobre-img{
		width: 35%;
	}
	.sobr-texts{
		width: 45%;
	}
	.email{
		font-size: 22px;
	}
	.rodape{
		margin-bottom: 20px;
	}
	.imgs-proj{
		margin-top: 90px;
		text-align: center;
	}
	.img-proj{
		margin-bottom: 60px;
	}
</style>